body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
nav {
  background-color: #fff; /* Background color */
  padding: 20px; /* Padding around the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px; /* Font size for the logo */
  font-weight: bold; /* Bold font weight */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block; /* Display links horizontally */
  margin-left: 20px; /* Add spacing between links */
}

.nav-links li a {
  text-decoration: none;
  color: #333; /* Link color */
  font-size: 16px; /* Font size for links */
}

.nav-links li a:hover {
  color: #007bff; /* Link color on hover */
}

/* Hero section styles */
.hero-container {
  background-color: #f0f0f0; /* Background color */
  padding: 100px 20px; /* Padding top and bottom */
  text-align: center;
}

.hero-container h1 {
  font-size: 48px; /* Font size for the heading */
  margin-bottom: 20px; /* Add spacing below the heading */
}

.hero-container p {
  font-size: 20px; /* Font size for the paragraph */
}


/* ---Image Grid--- */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1700px; /* Adjust the maximum width of the grid container */
  margin: 0 auto; /* Center the grid container */

  background-color: #f0f0f0; /* Add background color */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 4px 4px 4px rgba(0.2, 0.2, 0.2, 0.2); /* Add box shadow for depth */
}

.grid-item {
  width: 810px; /* Adjust the width of each grid item */
  padding: 20px; /* Adjust the margin between grid items */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners */
}

/* ---Text Hover--- */

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; 
}

.grid-item:hover .text-overlay {
  opacity: 1;
}

/* ---Video--- */

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  border-radius: 10px;
}

/* ---Description--- */

.text-info {
  display: flex; /* switch to block*/
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 860px; /* Adjust the maximum width if needed */
  margin: 0 auto 20px; /* Add margin to separate from the grid container */
  padding: 20px; /* Add padding for spacing */
  margin-top: 50px;
  background-color: #f0f0f0; /* Add background color */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.text-info h2 {
  font-size: 24px; /* Adjust heading font size */
  margin-bottom: 10px; /* Add spacing below heading */
}

.text-info p {
  font-size: 16px; /* Adjust paragraph font size */
  margin-bottom: 5px; /* Add spacing between paragraphs */
  line-height: 1.5; /* Adjust line height for readability */
}

.text-info a {
  color: #007bff; /* Adjust link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Add smooth color transition */
}

.text-info a:hover {
  color: #0056b3; /* Adjust link color on hover */
}
